@import url('http://fonts.cdnfonts.com/css/cocogoose');

:root {
  --first: #272a31;
  --second: #ec5242;
  --third: #d3d3d3;
}

* {
  margin: 0;
  box-sizing: border-box;
  left: 0;
  font-family: "lato", sans-serif;
}

body {
  width: 98vw;
  font-family: sans-serif;
  background: rgba(240, 240, 240, 0.3);
}

.social-head {
  display: none;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-weight: 700;
  background: whitesmoke;
}

.brand {
  display: none;
}

.navmenu {
  position: absolute;
  left: -100%;
  width: 98vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 10;
}

.navmenu.active {
  left: 0;
  top: 7%;
  overflow: hidden;
}

.navmenu li {
  list-style: none;
  padding: 3%;
  width: 100%;
}

.pages a {
  margin-top: 0%;
  color: rgb(105, 105, 105, 0.9);
  text-decoration: none;
}

.navmenu li a {
  text-decoration: none;
  color: rgba(66, 54, 54, 0.65);
}

.item1 a .about-link {
  color: var(--second);
}

.school-link {
  padding-top: 4%;
  border: 4px solid red;
}

.navmenu li:hover {
  background: #272a31;
}

.ham {
  cursor: pointer;
  height: 1.3125rem;
  margin-left: 9%;
  align-self: flex-start;
  margin-top: 2%;
  margin-bottom: 11%;
}

.bar {
  display: block;
  width: 45px;
  height: 7px;
  background-color: rgba(40, 40, 40, 1);
  margin: 5px auto;
}

.ham.active .bar:nth-child(1) {
  transform: translateY(13px) rotate(45deg);
  height: 15%;
  width: 60%;
  background: red;
}

.ham.active .bar:nth-child(2) {
  opacity: 0;
}

.ham.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  height: 15%;
  width: 60%;
  background: red;
}

.hamb {
  display: flex;
  justify-content: space-between;
}

#ham {
  margin-left: 4%;
}

#close {
  display: none;
  margin-left: 4%;
}

.pages {
  z-index: 10;
  height: 99vh;
  font-size: 30px;
  font-weight: 600;
  display: none;
}

.uon-logo-f {
  display: none;
}

.first {
  padding-top: 10%;
  padding-left: 4%;
  padding-right: 3%;
  background: url(./imgs/Nairobi.jpg) no-repeat;
  background-size: 100% 53.5%;
  position: relative;
}

.intro {
  z-index: 14;
}

.intro h3 {
  z-index: 14;
  font-size: 140%;
  color: var(--second);
  line-height: 30px;
}

.title {
  z-index: 14;
  font-size: 400%;
  font-weight: 700;
  font-family: 'cocogoose', sans-serif;
  letter-spacing: 5px;
  line-height: 60px;
  color: orangered;
}

.short-info {
  z-index: 14;
  margin-top: 30px;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: rgb(105, 105, 105, 1);
  background: rgba(240, 240, 240, 0.3);
  border: 4px solid whitesmoke;
  padding: 3%;
}

.date {
  z-index: 14;
  margin-top: 30px;
  font-size: 200%;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  color: var(--first);
  line-height: 40px;
}

.location {
  z-index: 4;
  margin-top: 1%;
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(105, 105, 105, 1);
  padding-bottom: 11%;
}

.overle {
  width: 100%;
  height: 100%;
  background: #cbc7c753;
  opacity: 0.9;
  position: absolute;
  top: 0;
}

.second {
  background: url(./imgs/dark.jpg) no-repeat;
  background-size: cover;
  color: var(--third);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

hr {
  width: 10%;
  background: var(--second);
}

.programs article {
  background: rgba(128, 128, 128, 0.3);
  margin: 3%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5%;
  align-items: center;
}

.programs article > h2 {
  color: var(--second);
  margin-right: 1%;
  width: 18%;
  font-size: 120%;
}

.programs article > p {
  padding: 1%;
  line-height: 1.4rem;
  width: 66%;
  font-size: 100%;
}

.lecture-img {
  margin: 4% 2%;
  width: 9%;
}

.exhibition-img {
  margin: 4% 2%;
  width: 9%;
}

.workshop-img {
  margin: 4% 2%;
  width: 9%;
}

.forum-img {
  margin: 4% 2%;
  width: 9%;
}

.ignite-img {
  margin: 4% 2%;
  width: 9%;
}

.third {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
}

.speaker-name {
  margin-left: 4%;
}

.featured {
  margin-top: 10%;
  margin-bottom: 3%;
  font-size: 2rem;
  color: rgba(40, 40, 40, 1);
}

.speaker-bio {
  font-size: 1rem;
  font-weight: 400;
  color: var(--second);
  margin: 4%;
}

.speaker-shortbrief {
  font-size: 0.9rem;
  color: rgba(72, 72, 72, 0.8);
  font-weight: 550;
  margin-left: 4%;
}

.speaker-hr {
  margin: 4%;
}

.see-more {
  text-align: center;
  margin: 5% 10%;
  width: 80%;
  font-size: 1.3rem;
  background: var(--second);
  color: #d3d3d3;
  padding-top: 4%;
  padding-bottom: 4%;
}

#wageni1 {
  display: none;
}

.guests {
  display: flex;
  gap: 3%;
  margin: 6%;
}

.guests1 {
  display: flex;
  gap: 3%;
  margin: 6%;
}

.speaker-img {
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  background: url(./imgs/check.png) no-repeat;
  background-size: 30%;
}

.speaker-det {
  width: 45%;
}

.four {
  display: none;
}

.see-less {
  display: none;
}

.more-mob {
  margin: 5% 3%;
  width: 94%;
  font-size: 1.2rem;
  padding-top: 3%;
  padding-bottom: 3%;
  color: var(--third);
  border: 2px solid var(--third);
  background-color: white;
}

.more-mob i {
  color: var(--second);
  margin-left: 2%;
}

#less-btn {
  display: none;
}

.check {
  height: 90px;
}

.profile {
  height: 85%;
  width: 85%;
  z-index: 10;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 2%;
}

.sponsors {
  display: none;
}

.sponyi {
  display: none;
  background-color: #f5f5f5;
}

button:hover {
  background: rgba(0, 0, 255, 0.407);
  color: #ec5242;
}

.programs article:hover {
  border: 2px solid white;
}

@media all and (min-width: 768px) {
  #pages {
    display: flex;
    flex-direction: row;
    background: whitesmoke;
    height: auto;
    align-items: center;
    justify-content: space-around;
    font-size: 1.3rem;
    font-weight: 400;
  }

  .navbar {
    flex-direction: row;
    z-index: 0;
  }

  .brand {
    display: block;
    width: 30%;
    padding-left: 17%;
  }

  .ham {
    display: none;
  }

  .navmenu {
    display: flex;
    position: relative;
    left: 0;
    height: auto;
    gap: 7%;
    flex-direction: row;
    margin-left: 7%;
    flex-wrap: wrap;
    font-size: 98%;
  }

  .navmenu li .items {
    padding: 0;
  }

  .navmenu li {
    padding: 2%;
    width: auto;
  }

  .hamb {
    display: none;
  }

  .intro {
    margin-left: 10%;
  }

  .intro h3 {
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 19px;
  }

  .title {
    padding-right: 36%;
  }

  .short-info {
    width: 60%;
    padding: 1.5%;
  }

  .date {
    margin-top: 1em;
  }

  .location {
    font-weight: 500;
  }

  .second {
    display: flex;
    flex-direction: column;
  }

  .programs {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1px;
  }

  .programs article {
    margin: 0.2%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .programs article h2 {
    width: auto;
    height: auto;
  }

  .programs article > p {
    padding: 3%;
    width: 100%;
    height: auto;
  }

  .lecture-img {
    margin-top: 7%;
    width: 20%;
    margin-bottom: 8%;
  }

  .exhibition-img {
    margin-top: 7%;
    width: 20%;
    margin-bottom: 8%;
  }

  .forum-img {
    margin-top: 7%;
    width: 20%;
    margin-bottom: 8%;
  }

  .workshop-img {
    margin-top: 7%;
    width: 20%;
    margin-bottom: 8%;
  }

  .ignite-img {
    margin-top: 7%;
    width: 20%;
    margin-bottom: 8%;
  }

  .see-more {
    display: none;
  }

  #wageni {
    display: flex;
  }

  .guests {
    width: 38%;
  }

  #wageni1 {
    display: flex;
    flex-wrap: wrap;
  }

  .guests1 {
    width: 38%;
    margin-top: -28px;
  }

  .speaker-det {
    width: 80%;
  }

  .see-less {
    display: flex;
    margin-bottom: 5%;
    font-weight: 600;
    color: var(--third);
    font-size: 1rem;
  }

  .four {
    display: flex;
    flex-direction: column;
    background: var(--first);
    text-align: center;
    color: var(--third);
  }

  .sponsor-hr {
    margin-left: 48%;
    width: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 3px;
  }

  .more-mob {
    display: none;
  }

  .sponsors {
    display: flex;
    gap: 5%;
    flex-wrap: wrap;
    margin: 1% 3%;
    margin-bottom: 6%;
  }

  .sponsors img {
    width: 20%;
  }

  .sponyi {
    display: flex;
    padding: 7%;
    justify-content: center;
  }

  .nairobi {
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 20%;
    margin-right: 5%;
  }

  .nairobi img {
    height: 3em;
  }

  .juba {
    color: rgba(72, 72, 72, 0.8);
  }

  .juba h4 {
    margin-bottom: 2%;
  }
}
